.ui-page-header
  %h1 Movimientos

  - if depots.any?
    = link_to "Agregar Movimiento", new_movement_path, remote: true, class: "ui-button ui-button-primary"

.ui-page-content
  .ui-card.ui-card-full
    .ui-card-content
      .ui-card-body
        = render(Movement::ListComponent.new(movements: movements, show_depot: true))
