@media (max-width: $ui-tight-max-width) {
  .ui-table.rates-list {
    .ui-table-row {
      &:nth-child(2) { // first item is header, so second is first row
        padding-top: 0;
        border-top: 0;
      }

      grid-template-columns: 1fr 100px;
      grid-column-gap: $ui-medium;
      grid-template-areas:
        "rate value"
        "date date";

      &.header {
        display: none;
      }

      .column-rate {
        grid-area: rate;
      }

      .column-value {
        text-align: right;
        grid-area: value;
      }

      .column-last-update {
        text-align: right;
        grid-area: date;
      }
    }
  }
}
