.depots-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-template-rows: auto;
  padding: $ui-medium;
  grid-gap: $ui-medium;
}

.dashboard-balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  background: $ui-violet-darkest;
  color: $ui-white;

  .ui-card-content {
    margin-bottom: $ui-tiny;
  }

  .ui-card-title {
    color: $ui-white;
  }

  .ui-card-body .depot-balance {
    color: $ui-white;
  }

  .ui-card-footer {
    border: 0;
  }

  .user-totals-card-graph {
    width: 100%;
  }
}

.depot {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.depot-balance {
  font-size: $ui-font-size-number-big;
  font-weight: 600;
}

.no-depots {
  margin-top: $ui-medium;
  color: $ui-grey;
  font-weight: 200;
  font-size: 40px;
}

.depot-results p {
  margin-bottom: 0;
}
