.depots-list {
  display: flex;
  padding: $ui-medium;
  padding-top: 0;
}

.depot {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.depot-balance {
  font-size: $ui-font-size-number-big;
  font-weight: 600;
}

.no-depots {
  margin-top: $ui-medium;
  color: $ui-grey;
  font-weight: 200;
  font-size: 40px;
}

.depot-results p {
  margin-bottom: 0;
}
