@media (max-width: $ui-tight-max-width) {
  .depot-dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "depot-balance depot-rated-balance"
      "rate-value rate-value"
      "depot-graph depot-graph";

    .depot-balance {
      font-size: 1.3em;
    }

    .rate-card-value .ui-card-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      .ui-card-body {
        margin: 0;
      }

      .view-rate {
        margin-left: $ui-small;
      }
    }
  }
}

@media (max-width: $ui-mobile-max-width) {
  .depot-dashboard {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "depot-balance"
      "depot-rated-balance"
      "rate-value"
      "depot-graph";

    .depot-card-balance .ui-card-content,
    .depot-card-rated-balance .ui-card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ui-card-body {
        margin: 0;
      }
    }

    .rate-card-value .ui-card-title {
      width: 100%;
    }
  }
}
