@media (max-width: $ui-tight-max-width) {
  .error-placeholder {
    padding: $ui-medium 0;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto minmax(100px, 300px) auto;

    grid-template-areas: 
      "brand"
      "title"
      "description"
      "image"
      "actions";
  }
}

@media (max-width: $ui-mobile-max-width) {
  .error-placeholder {
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
      "brand"
      "title"
      "description"
      "actions";

    svg {
      display: none;
    }

    .error-actions {
      flex-direction: column;

      .ui-button {
        margin-top: $ui-small;
      }
    }
  }
}
