.ui-table.movements-list {
  .ui-table-row {
    grid-template-columns: repeat(3, 1fr) minmax(100px, 0fr);
  }
}

.depot-movements-header .depot-balance {
  margin-top: $ui-small;
  display: block;
}
