%ol.ui-breadcrumb
  %li= link_to "Depots", depots_path
  %li= depot.name

.ui-page-content
  #depots-movements-list-placeholder
    = render "depots/movements/index/list", depot: depot, movements: movements, currency: currency
