@media (max-width: $ui-mobile-max-width) {
  header.ui-header {
    padding: $ui-large;
    min-height: auto;
    grid-template-rows: auto;
  }

  header.ui-header .ui-header-content {
    .ui-header-content-right {
      display: none;
    }
  }

  .ui-footer {
    .ui-footer-content {
      flex-direction: column;

      .ui-footer-content-right {
        text-align: center;
        margin-top: $ui-large;
      }
    }
  }
}

@media (max-width: $ui-mobile-small-max-width) {
  nav.ui-nav {
    grid-template-rows: 150px;

    .ui-nav-content {
      margin-top: $ui-small;
      flex-direction: column;
      justify-content: space-around;

      .ui-brand {
        font-size: 30px;
        margin-bottom: $ui-medium;
      }
    }
  }

  .currency-items .currency {
    &:first-child {
      margin-left: 0;
    }

    svg {
      width: 100%;
    }
  }
}
