@media (max-width: $ui-tight-max-width) {
  header.ui-header .ui-header-content {
    .ui-header-content-right {
      flex-grow: 1;
      height: 100%;
      min-width: 320px;
    }
  }

  .how-it-works-steps {
    flex-direction: column;

    .how-it-works-step {
      flex-direction: row;
      text-align: left;
      max-width: 100%;
    }
  }
}
