- js_controller = 'charts--daily-balance'
.daily-balance-chart{ "data-controller" => js_controller,
                      "data-target" => "#{js_controller}.placeholder",
                      "data-#{js_controller}-series" => json_series,
                      "data-#{js_controller}-categories" => json_categories,
                      "data-#{js_controller}-title-currency" => title_currency }
