- js_controller = 'charts--rate'
.rate-values-chart{ "data-controller" => js_controller,
                    "data-target" => "#{js_controller}.placeholder",
                    "data-#{js_controller}-categories" => json_categories,
                    "data-#{js_controller}-series" => json_series }
