- js_controller = 'charts--users--consolidated-balance'
.user-consolidated-balance-chart{ "data-controller" => js_controller,
                                  "data-target" => "#{js_controller}.placeholder",
                                  "data-#{js_controller}-series" => json_series,
                                  "data-#{js_controller}-categories" => json_categories }
