.reports-profit-dashboard {
  padding-bottom: $ui-medium;
}

.reports-profit-dashboard .ui-page-header {
  align-items: baseline;

  .report-criteria {
    display: flex;
    align-items: baseline;

    .ui-label {
      margin-right: $ui-medium;
    }

    .flatpickr-input {
      width: 210px;
      text-align: center;
    }
  }
}

.report-profits {
  display: grid;
  margin: 0 $ui-medium;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "depots-total rate rate"
    "balance-chart balance-chart balance-chart"
    "depots-list depots-list depots-list";
  column-gap: $ui-medium;
}

.report-profits .report-profits-depots-total {
  grid-area: depots-total;
}

.report-profits .report-profits-rate {
  grid-area: rate;
}

.report-profits .report-profits-balance-chart {
  grid-area: balance-chart;
}

.report-profits .report-profits-depots-list {
  grid-area: depots-list;
}

.report-profits .report-profits-depots-pie {
  grid-area: depots-pie;
}
