.ui-page-header.bugs-header
  %h1 Tus Errores Reportados

  = link_to new_bug_path, remote: true, class: "ui-button ui-button-primary" do
    %i.icon-plus
    %span Reportar Error

.ui-page-content
  .ui-card.ui-card-full
    .ui-card-content
      .ui-card-body#bugs-list-component-placeholder
        = render(Bug::ListComponent.new(bugs: bugs))
