$ui-button-padding: 8px 15px;
$ui-button-padding-big: 14px 20px;

.ui-button {
  border: 1px solid;
  border-radius: 3px;
  display: inline-block;
  font-family: $ui-font-family;
  font-size: $ui-font-size-button;
  font-weight: 600;
  padding: $ui-button-padding;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  color: $ui-grey-darkest;
  border: 1px solid $ui-grey-light;
  background: $ui-grey-light;

  &:hover {
    border-color: #d9d9d9;
    background: $ui-grey;
  }

  &.big {
    padding: $ui-button-padding-big;
  }

  &.full {
    width: 100%;
  }
}

.ui-button.ui-button-primary {
  @extend %ui-primary;

  &:hover {
    background-color: $ui-violet-dark;
    border-color: $ui-violet-darker;
  }

  &.outline {
    @extend %ui-primary-outline;

    &:hover {
      background-color: $ui-violet;
      border-color: $ui-violet;
      color: $ui-white;
    }
  }
}

.ui-button.ui-button-secondary {
  @extend %ui-secondary;

  &:hover {
    background-color: $ui-other-grey-darker;
    border-color: $ui-other-grey-darkest;
  }

  &.outline {
    @extend %ui-secondary-outline;

    &:hover {
      background-color: $ui-other-grey-dark;
      border-color: $ui-other-grey-darker;
      color: $ui-white;
    }
  }
}

.ui-button.ui-button-success {
  @extend %ui-success;

  &:hover {
    background-color: $ui-green-darker;
    border-color: $ui-green-darkest;
  }

  &.outline {
    @extend %ui-success-outline;

    &:hover {
      background-color: $ui-green;
      border-color: $ui-green;
      color: $ui-white;
    }
  }
}

.ui-button.ui-button-danger {
  @extend %ui-danger;

  &:hover {
    background-color: $ui-red-darker;
    border-color: $ui-red-darkest;
  }

  &.outline {
    @extend %ui-danger-outline;

    &:hover {
      background-color: $ui-red;
      border-color: $ui-red;
      color: $ui-white;
    }
  }
}

.ui-button.ui-button-warning {
  @extend %ui-warning;

  &:hover {
    background-color: $ui-yellow-darker;
    border-color: $ui-yellow-darkest;
  }

  &.outline {
    @extend %ui-warning-outline;

    &:hover {
      background-color: $ui-yellow;
      border-color: $ui-yellow;
      color: $ui-white;
    }
  }
}

.ui-button.ui-button-info {
  @extend %ui-info;

  &:hover {
    background-color: $ui-light-blue-darker;
    border-color: $ui-light-blue-darkest;
  }

  &.outline {
    @extend %ui-info-outline;

    &:hover {
      background-color: $ui-light-blue;
      border-color: $ui-light-blue;
      color: $ui-white;
    }
  }
}
