$ui-black-darker: #23232b;
$ui-black-dark: #363643;
$ui-black: #484856;
$ui-grey-darker: #6d727c;
$ui-grey-dark: #a4aaad;
$ui-grey: #c1c4c6;
$ui-grey-light: #d4d7d9;
$ui-grey-lighter: #f0f1f1;
$ui-grey-lightest: #f9fafa;
$ui-white: #fff;

$ui-midnight-blue: #274a68;
$ui-blue-darkest: #074a94;
$ui-blue-darker: #0262ca;
$ui-blue-dark: #066ee0;
$ui-blue: #007aff;
$ui-blue-light: #3b99fc;
$ui-blue-lighter: #9dccfe;
$ui-blue-lightest: #f5f9fe;
