$ui-black: #000;
$ui-white: #fff;

$ui-grey-lightest: #f9fafb;
$ui-grey-lighter: #f2f4f9;
$ui-grey-light: #ececec;
$ui-grey: #d9d9d9;
$ui-grey-dark: #686868;

$ui-blue: #007bff;
$ui-blue-dark: #686868;

$ui-violet: #727cf5;
$ui-violet-darkest: #031a61;
