$ui-black-darker: #23232b;
$ui-black-dark: #363643;
$ui-black: #484856;
$ui-grey-darker: #6d727c;
$ui-grey-dark: #a4aaad;
$ui-grey: #c1c4c6;
$ui-grey-light: #d4d7d9;
$ui-grey-lighter: #f0f1f1;
$ui-grey-lightest: #f9fafa;
$ui-white: #fff;

$ui-blue-darkest: #0B4F6C;
$ui-blue-darker: #117AA7;
$ui-blue-dark: #1495CC;
$ui-blue: #01BAEF;
$ui-blue-light: #20CEFE;
$ui-blue-lighter: #48D7FE;
$ui-blue-lightest: #D6F6FF;

$ui-green-darkest: #0F5727;
$ui-green-darker: #157A37;
$ui-green-dark: #1B9D46;
$ui-green: #20BF55;
$ui-green-light: #2EDC68;
$ui-green-lighter: #62E48D;
$ui-green-lightest: #96EDB3;

$ui-red-darkest: #C60609;
$ui-red-darker: #ED070B;
$ui-red-dark: #F82529;
$ui-red: #F94144;
$ui-red-light: #FB7477;
$ui-red-lighter: #FC9C9E;
$ui-red-lightest: #FDC3C5;
