$ui-button-border-radius: 3px;
$ui-font-size-input: 13px;

.ui-field {
  margin-top: $ui-large;
}

.ui-field .ui-label{
  text-transform: uppercase;
  font-size: $ui-font-size-label;
  font-weight: bold;
  color: $ui-grey-darkest;

  & + em {
    display: block;
    margin-top: $ui-xtiny;
    font-size: 11px;
    font-style: normal;
  }

  & + .choices {
    margin-top: $ui-xsmall;

    .choices__inner {
      font-size: $ui-font-size-input;
      background: $ui-white;
    }

    .choices__list .choices__item {
      font-size: $ui-font-size-input;
    }
  }
}

.ui-field .ui-input {
  margin-top: $ui-xsmall;
  &:focus {
    border-color: $ui-blue;
  }
}

.ui-field-check {
  display: flex;

  label {
    margin-left: $ui-tiny;
  }
}
