$content-size: minmax(200px, 1180px);

@mixin grid-template-column($width) {
  display: grid;
  padding-left: $ui-large;
  padding-right: $ui-large;
  grid-template-columns: 1fr $width 1fr;
  grid-template-areas: ". content .";
}

@import "colors";
@import "colors/mixins";
@import "sizes";
@import "typography";
@import "inputs";
@import "normalize";
@import "font-icons";
@import "components/**/*";
@import "public/welcome";
@import "layout/landing";
@import "layout/landing_tight";
@import "layout/landing_mobile";
