$ui-background: $ui-grey-lightest;
$ui-header-background: $ui-white;

.ui-body {
  font-family: $ui-font-family;
  display: grid;
  grid-template-columns: 240px 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "brand header header header"
    "sidebar main main main";
}

.ui-brand {
  grid-area: brand;
  display: flex;
  align-items: center;
  background: $ui-header-background;
  border-right: 1px solid $ui-grey-lighter;
  border-bottom: 1px solid $ui-grey-lighter;
  padding-left: $ui-medium;

  .ui-brand-link {
    font-family: $ui-font-family-title;
    font-size: 25px;
    color: $ui-violet-darkest;
    font-weight: 900;
    text-decoration: none;
  }
}

.ui-header {
  z-index: 2; // make shadow work
  grid-area: header;
  background: $ui-header-background;
  box-shadow: 3px 0 10px 0 rgba(183,192,206,.2);
}

.ui-sidebar {
  z-index: 2; // make shadow work
  grid-area: sidebar;
  background: $ui-white;
  border-right: 1px solid $ui-grey-lighter;
  box-shadow: 0px 8px 10px 0 rgba(183,192,206,.2);
}

.ui-main {
  grid-area: main;
  background-color: $ui-background;
}

.ui-page .ui-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $ui-large $ui-medium 0;

  h1 {
    margin: 0;
  }
}
