$ui-xtiny: 2px;
$ui-tiny: 5px;
$ui-xsmall: 10px;
$ui-small: 15px;
$ui-medium: 20px;
$ui-large: 30px;
$ui-xlarge: 40px;
$ui-xxlarge: 60px;
$ui-gigantic: 100px;
$ui-xgigantic: 150px;

$ui-header-height: 44px;
