%p
  Hola #{@email}!
- if @resource.try(:unconfirmed_email?)
  %p
    Te avisamos que tu email está siendo modificado a #{@resource.unconfirmed_email}.
- else
  %p
    Te avisamos que tu email fue modificado a #{@resource.email}.
