%p
  Hola #{@resource.email}!
%p Alguien ha solicitado modificar tu contraseña. Podés hacerlo haciendo click en este link debajo.
%p= link_to 'Cambir mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si no solicitaste este cambio, por favor ignorá este email.
%p Tu contraseña no cambiará hasta que no se acceda al link de arriba y se elija una nueva.
