!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grownis
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track': 'reload'
    %link{ href: "https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap", rel: "stylesheet" }
  %body.ui-body
    = yield
